<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="AVANQARD UPS sizin üçün ən doğru olan seçimdir.">
    <meta name="keywords" content="Avanqard UPS, UPS sistemlər, avadanlıqlar, blog">
    <meta http-equiv="X-UA-Compatible" content="IE=edge 'self' https://avanqardups.az" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/blog.css" />
    <link rel="stylesheet" href="css/contact.css" />
    <title>Blog</title>
</head>
<body>
{{>navbar}}
<div class="blogPageLinks">
    <a class="ppp" href="/">Ana Səhifə</a> /
    <a class="ppp ppp-second" href="/blog">Blog</a>
</div>
<section class="blogPage">

    <div class="blogPageHeading">
        <h1>
            Yeniliklər, faydalı məlumatlar və <div> class="br"><div/>
            digər resurslar
        </h1>
    </div>
    {{#each blog}}
        <div class="blogDetails">
            <div class="blogContent">
                <a href=`/blogDetails/`>
                    <h2>{{this.Title}}</h2></a>
                <a href="/blogDetails"><p>
                    {{this.Description}}
                </p></a>
                <div class="blogBtnAndTime">

                    <div class="blogTime">{{this.date}}</div>
                    <a class="blogBtn" href={{this.productLink}}
                    >Daha ətraflı<img src="assets/img/right-arrow.svg" alt="avanqardups-blog"
                    /></a>
                </div>
            </div>



            <div class="blogImage">
                <img src={{this.ImgUrl}} alt="avanqardups-blog-photo" />
            </div>
        </div>

    {{/each}}


</section>

{{>search}}

<!--    <main class="main">-->
<!--      <section class="bread-crumbs-title">-->
<!--        <div class="bread-crumbs">-->
<!--          <a href="/">Ana Səhifə/</a>  <a href="/blog">Blog/</a> blog-2-->


<!--        </div>-->
<!--        <p class="title">Yay fəslində cihazları necə <br>-->
<!--          qorumalı?-->
<!--        </p>-->
<!--        <span class="date">-->
<!--          25 aprel, 2021.-->
<!--        </span>-->
<!--      </section>-->
<!--      <section class="image-wrapper">-->
<!--        <img src="assets/img/image1-blog2.jpg" alt="">-->
<!--      </section>-->
<!--      <article>-->
<!--        Xüsusilə yay mövsümündə tempraturun yüksəlməsi-->
<!--        nəticəsində istehlak səviyyəsinin artması-->
<!--        elektrik təchizatında bəzi problemlərə səbəb olur.-->
<!--        Xarici temperatur və daxili temperatur arasındakı-->
<!--        fərq nə qədər böyük olursa hava soyuducusunun işləməsi-->
<!--         bir o qədər çətinləşir. Elektrik kəsintisi cihazınıza və daxilində saxlanılan məlumatlara,-->
<!--         o cümlədən vacib əməliyyatlara ciddi təhlükə yarada bilər.-->
<!--        <div class="br"></div>-->

<!--         UPS olaraq bilinən Fasiləsiz Güc Təchizatı, bu tip problemlərlə məşğul olmaq üçün mükəmməl bir həll təklif edir. Bu, kommunal xəttində nasazlıqlar və ya uğursuzluqlar halında cihazlara enerji verməyə davam etmək üçün hazırlanmış batareya ilə təchiz edilmiş enerji təchizatıdır. İstifadəçilərə faylları saxlamaq və UPS-ə bağlı kompüterləri düzgün bağlamaq üçün kifayət qədər vaxt verir. Bəzi sistemlər(online UPS sehifesine link) elektrik kəsildikdə və ya batareya aşağı və ya kritik həddə çatdıqda digər kompüterləri uzaqdan bağlaya bilən əmrləri göndərmək üçün USB bağlantısı ilə təchiz olunmuşdur.-->
<!--         <div class="br"></div>-->
<!--         UPS həm də gərginlik tənzimlənməsi və dalğalanma təzyiqini tənzimləyir. Elektrik enerjisi hər dəfə bərpa olunduqda baş verən gərginlik artımının və ya sıçrayışların avadanlıqlarınıza zərər verməsinin qarşısını alaraq avadanlıqlarınıza dəyə biləcək zərərlərdən qoruyur.-->
<!--        <p class="description-head">Yaya hazırlıq</p>-->
<!--        Xüsusilə yay mövsümündə tempraturun yüksəlməsi nəticəsində istehlak səviyyəsinin artması elektrik təchizatında bəzi problemlərə səbəb olur. Xarici temperatur və daxili temperatur arasındakı fərq nə qədər böyük olursa hava soyuducusunun işləməsi bir o qədər çətinləşir. Elektrik kəsintisi cihazınıza və daxilində saxlanılan məlumatlara, o cümlədən vacib əməliyyatlara ciddi təhlükə yarada bilər.-->
<!--        <div class="br"></div>-->
<!--        UPS olaraq bilinən Fasiləsiz Güc Təchizatı, bu tip problemlərlə məşğul olmaq üçün mükəmməl bir həll təklif edir. Bu, kommunal xəttində nasazlıqlar və ya uğursuzluqlar halında cihazlara enerji verməyə davam etmək üçün hazırlanmış batareya ilə təchiz edilmiş enerji təchizatıdır. İstifadəçilərə faylları saxlamaq və UPS-ə bağlı kompüterləri düzgün bağlamaq üçün kifayət qədər vaxt verir. <u>Bəzi sistemlər</u> kəsildikdə və ya batareya aşağı və ya kritik həddə çatdıqda digər kompüterləri uzaqdan bağlaya bilən əmrləri göndərmək üçün USB bağlantısı ilə təchiz olunmuşdur.-->
<!--         <div class="br"></div>-->
<!--         UPS həm də gərginlik tənzimlənməsi və dalğalanma təzyiqini tənzimləyir. Elektrik enerjisi hər dəfə bərpa olunduqda baş verən gərginlik artımının və ya sıçrayışların avadanlıqlarınıza zərər verməsinin qarşısını alaraq avadanlıqlarınıza dəyə biləcək zərərlərdən qoruyur.-->
<!--      </article>-->
<!--      <section class="image-wrapper">-->
<!--        <img src="/assets/img/image2-blog2.jpg" alt="">-->
<!--      </section>-->
<!--      <article>-->
<!--        <p class="description-head">Yay aylarında elektrik avadanlıqlarımızı necə qoruya bilərik?</p>-->

<!--          Həssas elektronikadan elektrik enerjisi kəsildikdə batareya ehtiyatı tələb etməyən cihazlardan ağır avadanlıqlara qədər geniş seçimli cihazlarınızı qorumaq istəyirsinizsə, avtomatik güc tənzimləyicisindən istifadə etməyi düşünün. Fasiləsiz güc təchizatı nizamsız və daimi elektrik olmayan kənd yerlərində də vəzifəsini layiqincə yerinə yetirir.-->


<!--        <div class="br"></div>-->

<!--          Nisbətən həssas elektronikanı, xüsusi kompüteri və ətraf elektrik cihazlarını ciddi gərginlik pozuntularından təsirlənməyən bir qorumaq üçün bir UPS-i bugün sifariş vermək haqqında düşünün. Printerləri eyni UPS-də digər avadanlıqlarla bağlamaqdan çəkinin, çünki eyni bölmədə digər cihazlara verilən enerjinin keyfiyyətini pisləşdirə biləcək artımlar əmələ gəlir. Lazer printerlər avtomatik güc tənzimləyicisi və ya AVR ilə daha yaxşı qorunur.-->


<!--        <div class="br"></div>-->

<!--      </article>-->
<!--      <p class="more-info">-->
<!--        Daha çox məlumat almaq və ya yeni cihaz almaq istəyirsinizsə, əlaqə saxlayın və sizin üçün özəl təkliflərimizdən yararlanın-->
<!--      </p>-->
<!--      <a class="moreinfo-link">Əlaqə saxla</a>-->

<!--    </main>-->





{{!-- <div class="blogContactPageButton">
  <a href="/contact">Əlaqə saxla</a>
</div> --}}
<!--
<section class="blogUp">
  <div class="blogPageIpIcon">
    <a href="#"><img src="assets/img/arrow-up.svg" alt="" /></a>
  </div>
</section> -->

<section class="up">
    <div class="upIcon">
        <a href="#"><img src="assets/img/arrow-up.svg" alt="arrow" /></a>
    </div>
</section>

{{>footer}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script src="gsapJs/blog-gsap.js"></script>
</body>
</html>
